<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to 'Post Alert', new_alert_path, :class => "btn btn-success btn-md" %>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>

		<tbody>
			<% @alerts.each do |alert| %>
				<tr>
					<td><b><%= alert.alertType %></b></td>
					<td><%= alert.desc %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
